
td {
    text-align: center;
}

.missing-val {
        text-shadow:
          0 0 10px #be1523,
          0 0 20px #be1523;
}

.present-val {
    text-shadow:
      0 0 10px #15adbe,
      0 0 20px #15adbe;
}