


body{
   font-family: Arial, Helvetica, sans-serif;
   font-color: #1F1F1F;
}
h1{
   font-family: Arial, Helvetica, sans-serif;
   font-color: #1F1F1F;
   font-weight: bold;
}


div.title{
	font-weight: bold;;
}
div.source{
	max-width: 80%;
	padding: 4px;
	margin: 40px;
	background-color: #F07814;
	line-height: 1.8;}

div.quote{
  border-style: 2px solid;
  border-color: #F07814;
  border-radius: 5px;
  background-color: #FFFFFF;
  line-height: 1.8;
<!--	background-color: #e6ffe6;-->
	padding: 4px;
	padding-right: 40px;
	padding-left: 40px;
	margin-bottom: 5px;
}

div.ref{
  border-style: 2px solid;
  border-color: #F07814;
  border-radius: 5px;
  background-color: #CED9E5;
  line-height: 1.8;
<!--	background-color: #b3ffb3;-->
	padding: 4px;
	padding-right: 60px;
	padding-left: 60px;
}
