<html>
<head></head>
<body>

Patient: 68
<ul>
<li>
Enalapril:C09AA02
reference pages: 5,12
<table>
  <tr>
   <td>64b</td>
   <td>Discontinue if patient develops cough</td>
   <table>
     <tr>
       <td>1</td><!-- selectBoxNum -->
       <td></td>
       <td>[] Stop this medication</td>
       <td>Stop</td>
       <td>Your doctor wants you to stop this medication.</td>
     </tr>
    </table>
  </tr>
<!-- same thing for next rule -->
</table>
</li>
<li>
Hydrochlorthiazide:C03AA03
reference pages: 7,11
<table>
<!-- so on for the next medication -->
</table>
</li>
</ol>
</body>
</html>
