* {
    box-sizing: border-box;
}

input {
    display: inline;
}

body {
    font-family: Arial, sans-serif;
    font-size: small;
	background-color: #fffff;
}

#renew_container{
	background-color: #EEEEEE;
	margin: 2em;
	padding: 1em;
}

#page_renew{
	border-radius: 8px;
	background-color: #0033BB;
	padding: 1em;
	font-size: large;
	color: #ffffff;
}

#help_container{
	display: inline;
	margin-left: 2em;
	vertical-align: top;
}

.nav_button{
	border-radius: 8px;
	background-color: #0033BB;
	padding: 1em;
	font-size: large;
	color: #ffffff;
}

.button{
	border-radius: 8px;
	padding: 0.3em;
	color: #ffffff;
	display: inline;
	border: 1px solid black;
}

#definitive_container {
	margin-bottom: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #999999;
    line-height: 2;
    text-align: center;
    /* color: #042E64; */
    /* font-size: 30px; */
    font-weight: bold;
    text-shadow: 0 1px 0 #84BAFF;
    box-shadow: 0 0 15px #00214B
}

.button_advice_view {
    border-radius: 8px;
    border: 2px solid green;
}

#patient_info {
    background: #d9d9d9;
    width: 99%;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-bottom: 30px;
}

#patient_data{
	display: flex;
}

div.patient_data {
	width: 30%;
	margin: 1em;
	padding: 1em;
	background-color: #EEEEEE;
}

#patient-problems{
	margin: 1em;
}
#patient-labs{
	margin: 1em;
	width; 100%;
}

th,td.patient_data_td {
	border: 1px solid grey;
	border-collapse: collapse;
	padding: 0.3em;
}

.advice_header{
	font-size: large;
	font-weight: bold;
}

.patient_header{
	font-size: large;
	font-weight: bold;
	color: #75b94e;
	margin-top: 30px;
}

.patient_med_name{
	font-weight: bold;
	color: #f28931;
	margin-top: 15px;
}
.patient_nonmed_category{
	font-weight: bold;
	color: #f28931;
}

#patient_warning{
	background-color: #ffef16;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 30px;
	max-width: 50%;
	min-height: 2em;
}
.warningicon{
	max-height: 2em;
	float: left;
	padding-right: 10px;
}

#advice_container{
	display: flex;
}

#div_patient_view{
	width: 80%;
}

#button_container{
	width: 20%;
}

.med_cdss{
	width: 100%;
}
.nonmed_row{
	margin-bottom: 10px;
	position: relative;
}
.td_nm_category_name{
	display:inline-block;
	width: 30%;
}
.nonmed_checkbox{
	display: inline;
	position: absolute;
	top: 0%;
}
.nonmed_cdss_container{
  display: inline-block;
  width: 55%;
  padding-left: 30px;
}
.nonmed_cdss{
  display: block;
  width: 100%;
}
.freetext {
    display: inline-block;
}
.ft_input {
    width: 50em;
}
.div_other_advice{
	display: block;
}

.other_checkbox{
	display: inline;
	margin-bottom: 15px;
}
.other_cdss_container{
  display: inline-block;
  width: 55%;
  margin-top: 15px;
}
.other_cdss{
  display: block;
  width: 100%;
}

.patient_med_cb_row{
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
}
.patient_med_cb_text{
	display: inline;
}
.patient_othermed_cb_row{
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 15px;
}
.patient_othermed_cb_text{
	display: inline;
}
.patient_nonmed_cb_row{
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
}
.patient_nonmed_cb_text{
	display: inline;
}

.advice_selection_area{
    background: #f5f5f5;
}

.med_advice_container{
	background: #f7f7f7;
	padding: 0.5em;
	margin-bottom: 1em;
}

.med_advice_row1{
	display: flex;
	width: 100%;
}

.med_advice_row2{
	display: flex; 
	width: 100%;
	justify-content: center;
    align-items: center;
}


.advice_no_checkbox {
    border: 2px solid green;
    padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 5px;
    padding-left: 5px;
    height: 100%;
}

.med_name{
    display: inline;
    font-size: large;
    font-weight: bold;
}
.checkbox_section_header{
	font-weight: bold;
	display: inline-block;
	margin-bottom: 10px;
}
.fkimg{
	max-height: 1.2em;
}
.checkbox_row{
	padding-bottom: 0.5em;
}

.div_ehr_box{
    border:1px solid black;
}

div.prediction{
    margin: auto;
    width: 50%;
}

div.advice_header{
    margin: auto;
    width: 10%;
    font-size: large
    font-weight: bold;
    margin-top: 30px;
}

div.whitespace{
    height: 3cm;
}

div.refpages{
    display:inline;
    margin-left: auto;
}

#prediction_missing_container{
	background-color: #EEEEEE;
	margin: 1em;
	padding: 1em;

}

#footnote_missing{
	font-size: 0.8em;
}

#prediction_data_container{
	background-color: #EEEEEE;
	margin: 1em;
	padding: 1em;
}

.predict_data{
	border: 1px solid grey;
}

div.instruction_box{
    display: block;
    width: 99%;
    margin-bottom: 2em;
	background-color: #FFFFF;
}

div.sdm{
    background: #DDDDDD;
    text-align: left;
    border: 2px solid black;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

span.instruction_heading {
    font-weight: bold;
}

span.instruction_step {
    padding-right: 5px;
    padding-left: 5px;
}

div.general_advice{
    margin-bottom: 1em;
}

div.gauge_background {
    width:60%;
    height: 0px;
    padding-bottom: 4%;
    /* set "good", "warn", and "critical" thresholds specifically */
    background: linear-gradient(to right, #0F0 5%, #FF0 10%, #F00 30%);
    display: inline-block;
	border: 2px solid #000000;
    margin-bottom: 3ex;
}

div.gauge_line {
    width: calc(0.4% + 1px);
    margin-left: calc(-(0.4% / 2 + 0.5px));
    margin-right: calc(-(0.4% / 2 + 0.5px));
    padding-bottom: calc(8% + 1ex);
    padding-left: 0;
    padding-right: 0;
    background: #000;
    position: relative;
    top: -0.7ex;
    display: inline-block;
	visibility: hidden;
}

div.gauge_text_left {
    position: relative;
    top: 10px;
    margin: 0px;
    padding: 0px;
    width: 0px;
    display: inline-block;
}

div.gauge_text_right {
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 0px;
    top: 10px;
    left: calc(100% - 3ch - 1em);
    display: inline-block;
}

div.fallguy_div{
	position: relative;
	display: inline-block;
	margin: 0px;
    padding: 0px;
	height: 40px;
}

img.fallguy{
	max-height: 100%;
	margin-bottom: 0.5em;
}

.td_nm_category_name {
    font-weight: bold;
}

.finalize_step {
	font-size: large;
	font-weight: bold;
}

#locked{
	visibility: hidden;
}